<!DOCTYPE>
<html ng-app="mscv">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="user-scrolable=no, width=device-width, initial-scale=1">
    <title>Hi, my name is Martin Surynek</title>
    <link rel="shortcut icon" type="image/ico" href="app/img/favicon.ico" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,600,800,400' rel='stylesheet' type='text/css'>
    
    <!-- build:css files/css/styles.css -->
    <link rel="stylesheet" href="app/css/normalize.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="app/css/animate.css">
    <!-- main styles -->
    <link rel="stylesheet" href="app/css/ms.styles.css">
    <!-- /build -->

    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
</head>
<body    
    id="top"
    ng-controller="MscvCtrl as mscvCtrl"
    data-target=".navbar-default"
    scroll-spy="scroll"
    scroll-watch>

    <header class="header">
        <a href="/">
            <div class="logo"></div>
        </a>
        <h1 class="title">Martin Surynek</h1>
        <div class="container">
            <div class="row">
                <span class="col-xs-12 small-title">UI / UX Web Developer</span>
            </div>
        </div>
    </header>

    <!-- fork me on github -->
    <a id="github" href="https://github.com/jakethashi/resume/">
        <img src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png">
    </a>

    <!-- main navigation -->
    <div class="nav-wrapper" ng-cloak>
        <div class="container">
            <div class="row">
                <nav id="main-navigation" class="col-xs-12 navbar navbar-default">
                    <div class="container-fluid2">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#">
                                <div class="small-logo"></div>
                            </a>

                            <button type="button" class="navbar-toggle collapsed"
                                data-toggle="collapse"
                                data-target="#main-navigation-target">
                                <i class="fa fa-reorder fa-2x"></i>
                            </button>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div ng-controller="MainNavCtrl as nav" class="collapse navbar-collapse" id="main-navigation-target">
                            <ul class="nav navbar-nav">
                                <li class="active"><a smooth-navigation href="#top">Top</a></li>
                                <li><a smooth-navigation href="#work-experience">Work experience</a></li>
                                <li><a smooth-navigation href="#certificates">Certificates</a></li>
                                <li><a smooth-navigation href="#languages">Languages</a></li>
                                <li><a smooth-navigation href="#education">Education</a></li>
                                <li><a smooth-navigation href="#skills">Skills</a></li>
                                <li><a smooth-navigation href="#contact-me">Contact me</a></li>
                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                    </div>
                    <!-- /.container-fluid -->
                </nav>
            </div>
        </div>
    </div>


    <!-- main content -->
    <div id="main-content" class="container">
        <div class="row">
            <!-- introduction -->
            <div class="col-xs-12">
                <h3 class="introduction">Who am I?</h3>
                <p>Hi, i’m UI/UX Web Developer with passion for new trends and technology related with web development, mobile development and graphics design. Especially for tools which may  increase web performance and efficiency, look and fell and user experience with web application. Basically I like to find challenges to be able to overcome them and create better user experience and satisfy the users with the quality and successfully fulfill desired solution.</p>
            </div>

            <!-- work experience -->
            <section id="work-experience" class="col-xs-12 section-block" ng-cloak>
                <h3><b>{{ mscvCtrl.workExperience.title }}</b></h3>

                <div class="item col-xs-12 col-sm-6" ng-repeat="item in mscvCtrl.workExperience.items">
                    <!-- left icon -->
                    <div class="plus-icon col-xs-2 wow fadeInLeft">
                        <!-- build:[src] files/img/plus.svg -->
                        <img src="app/img/plus.svg">
                        <!-- /build -->
                    </div>
                    <!-- right content -->
                    <div class="col-xs-10 item-block wow fadeInRight">
                        <h4 class="title">{{ item.position }}</h4>
                        <h5 class="date">{{ item.from }} - {{ item.to }}</h5>
                        <p class="content">
                            <p class="overview">{{ item.overview }}</p>
                            <div ng-repeat="item in item.list">
                                <label class="bollder">{{ item.title }}</label>
                                <ul class="work-experience-item" ng-repeat="item in item.items">
                                    <li>{{ item }}</li>
                                </ul>
                                <!-- /.work-experience-item -->
                            </div>
                        </p>
                        <!-- /.content-->
                    </div>
                </div>
                <!-- /.item -->
            </section>
            <!-- /#work-experience -->

            <!-- certificates -->
            <section id="certificates" class="col-xs-12 section-block" ng-cloak>
                <h3><b>{{ mscvCtrl.certificates.title }}</b></h3>

                <div class="col-xs-12 col-sm-6 item" ng-repeat="item in mscvCtrl.certificates.items">
                    <!-- left icon -->
                    <div class="col-xs-2 col-sm-3 icon wow fadeInLeft">
                        <!-- build:remove -->
                        <img ng-src="app/img/{{ item.logo }}.png">
                        <!-- /build -->

                        <!-- build:template
                            <img ng-src="files/img/{{ item.logo }}.png">
                        /build -->
                    </div>
                    <!-- right content -->
                    <div class="col-xs-10 col-sm-9 wow fadeInRight">
                        <h4 class="title">{{ item.name }}</h4>
                        <h5 class="date">{{ item.date }}</h5>
                        <p class="content">
                            <p class="overview">{{ item.description }}</p>
                        </p>
                        <!-- /.content-->
                    </div>

                    <label class="col-xs-2 col-sm-3 level">{{ item.score }}</label>
                    <label class="col-xs-10 col-sm-9 description">{{ item.achievementsTitle }}</label>
                </div>
                <!-- /.item -->
            </section>
            <!-- /#certificates -->

            <!-- languages -->
            <section id="languages" class="col-xs-12 section-block" ng-cloak>
                <h3><b>{{ mscvCtrl.languages.title }}</b></h3>

                <div class="item col-xs-12 col-sm-6" ng-repeat="item in mscvCtrl.languages.items">
                    <!-- left icon -->
                    <div class="col-xs-2 col-sm-3 flag wow fadeInLeft">
                        <!-- build:remove -->
                        <img ng-src="app/img/flag-{{ item.flag }}.jpg">
                        <!-- /build -->

                        <!-- build:template
                        <img ng-src="files/img/flag-{{ item.flag }}.jpg">
                        /build -->
                        
                        
                    </div>
                    <!-- right content -->
                    <div class="col-xs-10 col-sm-9 wow fadeInRight">
                        <h4 class="title">{{ item.name }}</h4>
                    </div>

                    <div class="clearfix"></div>

                    <label class="col-xs-2 col-sm-3 level">{{ item.level }}</label>
                    <label class="col-xs-10 col-sm-9 description">{{ item.description }}</label>

                </div>
                <!-- /.item -->
            </section>
            <!-- /#languages -->

            <!-- education -->
            <section id="education" class="col-xs-12 section-block" ng-cloak>
                <h3><b>{{ mscvCtrl.education.title }}</b></h3>
                <div class="col-xs-12">{{ mscvCtrl.education.description }}</div>

                <div class="clearfix"></div>

                <div class="item col-xs-12 col-sm-6 wow fadeIn" ng-repeat="item in mscvCtrl.education.items">
                    <!-- left icon -->
                    <div class="plus-icon col-xs-2">
                        <!-- build:[src] files/img/plus.svg -->
                        <img src="app/img/plus.svg">
                        <!-- /build -->
                    </div>
                    <!-- right content -->
                    <div class="col-xs-10 item-block">
                        <h4 class="title">{{ item.title }}</h4>
                        <h5 class="date">{{ item.from }} - {{ item.to }}</h5>
                        <p class="content">
                            <p class="overview">{{ item.description }}</p>
                        </p>
                        <!-- /.content-->
                    </div>
                </div>
                <!-- /.item -->
            </section>
            <!-- /#education -->

            <!-- skills -->
            <section id="skills" class="col-xs-12 section-block" ng-cloak ng-if="mscvCtrl.skills">
                <h3><b>{{ mscvCtrl.skills.title }}</b></h3>
                <div class="col-xs-12 description">{{ mscvCtrl.skills.description }} 
                    <a smooth-navigation href="{{ mscvCtrl.skills.moreLink }}">{{ mscvCtrl.skills.more }}</a>
                </div>

                <div class="col-xs-12 buttons-wrapper">
                    <ul class="buttons" ng-click="mscvCtrl.filterSkills($event)">
                        <li ng-repeat="item in mscvCtrl.skillFilter">
                            <a data-type="{{ item.type }}" class="btn btn-default {{ (item.type == 'all' && !mscvCtrl.skillFilterSelect) || item.type === mscvCtrl.skillFilterSelect ? 'btn-active' : '' }}" href="#">{{ item.title}}</a>
                        </li>
                    </ul>
                </div>

                <div class="clearfix"></div>

                <div class="col-xs-12 col-sm-6 item" ng-repeat="item in mscvCtrl.visibleItemCount = ( mscvCtrl.skills.items | filter: { type: mscvCtrl.skillFilterSelect } | limitTo: mscvCtrl.skillItemsLimit )">
                    <!-- left icon -->
                    <div class="col-xs-2 col-sm-3 icon wow fadeInLeft">
                        <div class="sprite-{{ item.icon }}"></div>
                    </div>
                    <!-- right content -->
                    <div class="col-xs-8 col-xs-offset-2 col-sm-9 col-sm-offset-0 wow fadeInRight">
                        <h4 class="title">{{ item.title }}</h4>
                    </div>
                    <div class="clearfix"></div>

                    <div class="col-xs-2 col-sm-3 level-wrapper wow fadeInLeft">
                        <label class="level">{{ item.level }}%</label>
                    </div>

                    <div class="col-xs-8 col-xs-offset-2 col-sm-9 col-sm-offset-0 level-items wow fadeInRight"
                        data-wow-duration="3s">
                        <div ng-repeat="x in [] | range: item.level / 10" class="level-item">
                            <span class="full"></span>
                        </div>
                        <div ng-repeat="x in [] | range: 10 - (item.level / 10)" class="level-item">
                            <span class="empty"></span>
                        </div>
                    </div>
                </div>

                <!-- /.item -->
                <div id="more-skills-link" class="col-xs-9 col-xs-offset-3 more-skills">
                    <!-- build:[src] files/img/arrow_down.svg -->
                    <span 
                        ng-if="mscvCtrl.skillFilterSelect.length == 0"
                        ng-click="mscvCtrl.skillsShowMoreLess()" 
                        class="show-more-skills {{ mscvCtrl.skillItemsLimit !== 10 ? 'less' : '' }}" href="#">{{ mscvCtrl.skillItemsLimit === 10 ? 'Mores' : 'Less' }} skills<img class="icon" src="app/img/arrow_down.svg"></span>
                    <!-- /build -->
                </div>


                <div id="show-more-skills" class="col-xs-12 collapse">
                    <div class="col-xs-12 col-sm-6 item" ng-repeat="item in mscvCtrl.skills.items.slice(10, 100) | filter: { type: mscvCtrl.skillFilterSelect }">
                        <!-- left icon -->
                        <div class="col-xs-2 col-sm-3 icon wow fadeInLeft">
                            <div class="sprite-{{ item.icon }}"></div>
                        </div>
                        <!-- right content -->
                        <div class="col-xs-8 col-xs-offset-2 col-sm-9 col-sm-offset-0  wow fadeInRight">
                            <h4 class="title">{{ item.title }}</h4>
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-xs-2 col-sm-3">
                            <label class="level">{{ item.level }}%</label>
                        </div>

                        <div class="col-xs-8 col-xs-offset-2 col-sm-9 col-sm-offset-0 level-items">
                            <div ng-repeat="x in [] | range: item.level / 10" class="level-item">
                                <span class="full"></span>
                            </div>
                            <div ng-repeat="x in [] | range: 10 - (item.level / 10)" class="level-item">
                                <span class="empty"></span>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
            <!-- /#skills -->
        </div>

    </div>

    <footer id="footer" ng-cloak ng-if="mscvCtrl.contact.address">
        <div class="container">
            <div class="row">
                <!-- contact me -->
                <div id="contact-me" class="col-xs-12 section-block">
                    <h3><b>{{ mscvCtrl.contact.title }}</b></h3>
                    <div class="col-xs-12">{{ mscvCtrl.contact.description }}</div>
                    <!-- address -->
                    <section class="col-xs-12 col-md-12 item">
                        <!-- left icon -->
                        <div class="col-xs-2 col-md-1 icon wow fadeInLeft">
                            <i class="fa {{ mscvCtrl.contact.address.icon }}"></i>
                        </div>

                        <!-- right content -->
                        <div class="col-xs-10 col-md-11">
                            <h4 class="title">{{ mscvCtrl.contact.address.title }}</h4>
                            <div class="content">
                                <div ng-repeat="description in mscvCtrl.contact.address.description">
                                    <div class="bollder">{{ description }}</div>
                                </div>

                                <br />

                                <div google-map ng-model="mscvCtrl.contact.address" class="col-xs-12 col-md-6 google-map"></div>
                            </div>
                            <!-- /.content-->
                        </div>
                    </section>
                    <!-- /.item -->

                    <!-- email -->
                    <section class="col-xs-12 col-md-4 item">
                        <!-- left icon -->
                        <div class="col-xs-2 icon wow fadeInLeft"
                            data-wow-delay=".1s">
                            <i class="fa {{ mscvCtrl.contact.email.icon }}"></i>
                        </div>

                        <!-- right content -->
                        <div class="col-xs-10">
                            <h4 class="title">{{ mscvCtrl.contact.email.title }}</h4>
                            <div class="content">
                                <div ng-repeat="description in mscvCtrl.contact.email.description">
                                    <a class="email" href="mailto:{{ description }}">
                                        <div class="bollder">{{ description }}</div>
                                    </a>
                                </div>
                            </div>
                            <!-- /.content-->
                        </div>
                    </section>
                    <!-- /.item -->

                    <!-- phone -->
                    <section class="col-xs-12 col-md-4 item" id="phone">
                        <!-- left icon -->
                        <div class="col-xs-2 icon wow fadeInLeft"
                            data-wow-delay=".2s">
                            <a href="tel://{{ mscvCtrl.contact.phone.description[0].link }}">
                                <i class="fa {{ mscvCtrl.contact.phone.icon }}"></i>
                            </a>
                        </div>

                        <!-- right content -->
                        <div class="col-xs-10">
                            <h4 class="title">{{ mscvCtrl.contact.phone.title }}</h4>
                            <div class="content">
                                <div ng-repeat="description in mscvCtrl.contact.phone.description">
                                    <a href="tel://{{ description.link }}" title="{{ description.phone }}" class="phone-number bollder">
                                    {{ description.phone}}
                                    </a>
                                </div>
                            </div>
                            <!-- /.content-->
                        </div>
                    </section>
                    <!-- /.item -->

                    <!-- fallowMe -->
                    <section id="fallow-me" class="col-xs-12 col-md-4 item">
                        <!-- left icon -->
                        <div class="col-xs-2 icon wow fadeInLeft"
                            data-wow-delay=".3s">
                            <i class="fa {{ mscvCtrl.contact.fallowMe.icon }}"></i>
                        </div>

                        <!-- right content -->
                        <div class="col-xs-10">
                            <h4 class="title">{{ mscvCtrl.contact.fallowMe.title }}</h4>
                            <div class="content">
                                <div class="icons" ng-repeat="description in mscvCtrl.contact.fallowMe.description">
                                    <a target="_new" href="{{ description.url }}">
                                        <div class="col-xs-3 icon sprite-icon-{{ description.icon }}" alt="{{ description.title }}"></div>
                                    </a>
                                </div>
                            </div>
                            <!-- /.content-->
                        </div>
                    </section>
                    <!-- /.item -->


                    <!-- about -->
                     <section class="col-xs-12 col-md-12 item" id="about">
                        <!-- left icon -->
                        <div class="col-xs-2 icon wow fadeInLeft"
                            data-wow-delay=".4s">
                            <i class="fa {{ mscvCtrl.about.icon }}"></i>
                        </div>

                        <!-- right content -->
                        <div class="col-xs-10">
                            <h4 class="title">{{ mscvCtrl.about.title }}</h4>
                            <div class="content">
                                <p>{{ mscvCtrl.about.description }}</p>
                                <a class="more" href="{{ mscvCtrl.about.url }}">{{ mscvCtrl.about.more }}
                                </a>
                            </div>
                            <!-- /.content-->
                        </div>
                    </section>
                    <!-- /.item -->

                    <br />
                    <br />
                    <br />
                    <br />

                </div>
            </div>
        </div>
        <!-- /.container -->

        <div id="copyright">©2015 Martin Surynek. All Rights Reserved.</div>
    </footer>

    <!-- build:js files/js/vendor.min.js -->
    <!-- vendor scripts -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/jquery-easing/jquery.easing.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="app/scripts/vendor/wow/dist/wow.js"></script>
    <script src="app/scripts/vendor/lazy-loading-google-maps/jquery.lazy-load-google-maps.js"></script>
    

    <!-- angular -->
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <!-- /build -->

    <!-- build:js files/js/main.min.js -->
    <!-- my scripts -->
    <script src="app/scripts/main.js"></script>
    <script src="app/scripts/config.js"></script>
    <script src="app/scripts/controllers/mainNavCtrl.js"></script>
    <script src="app/scripts/controllers/modalController.js"></script>
    <script src="app/scripts/controllers/mscvCtrl.js"></script>
    <script src="app/scripts/controllers/mscvLearnMoreCtrl.js"></script>
    <script src="app/scripts/controllers/mscvMainCtrl.js"></script>
    <script src="app/scripts/services/modal.js"></script>
    <script src="app/scripts/services/utils.js"></script>
    <script src="app/scripts/directives/activeFilter.js"></script>
    <script src="app/scripts/directives/googleMap.js"></script>
    <script src="app/scripts/directives/scrollSpy.js"></script>
    <script src="app/scripts/directives/scrollWatch.js"></script>
    <script src="app/scripts/directives/smoothNavigation.js"></script>
    <script src="app/scripts/filters.js"></script>
    <!-- /build -->

    <!-- ga -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-64354534-1', 'auto');
      ga('send', 'pageview');
    </script>    
</body>
</html>
