/* variables*/
$color-extralight-gray: #F5F5F5;
$color-light-gray:      #dedede;
$color-dark-gray:       #8a8a8a;

$color-light-black:     #5e5e5e;
$color-dark-black:      #232323;

$color-light-blue:      #209fcf;
$color-dark-blue:       #0d78a0;
$color-extradark-blue:  #175E78;
$color-extradark2-blue: #083D6D;

$color-white:           #fff;
$color-dark-white:      #F3F3F3;

$header-bg-colorLeft:   #026b88;
$header-bg-colorTop:    #0288ad;
$header-text-color:     $color-light-gray;
$text-color:            #303030;

$label-level-color:     #717171;
